<!--<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>home.hello.world</span>
      <app-google-map [lat]="51.678418" [lng]="7.809007" [title]="'My map'"></app-google-map>
    </h1>
  </div>
</div>
-->

<!-- <div class="container my-container">
  <div class="row my-row">
    <div class="col-md-4 col-sm-6  my-col">
      Row 1 Col 1
    </div>
    <div class="col-md-8 col-sm-6  my-col">
      Row 1 Col 2
    </div>
  </div>
  <div class="row my-row justify-content-between align-items-stretch">
    <div class="col-4  my-col order-md-12">
      Row 2 Col 1
    </div>

    <div class="col-4 offset-md-2 my-col align-self-start order-md-2">
      Row 2 Col 2
    </div>
  </div>
</div> -->

<div class="container">
  <div class="border border-dark h d-flex justify-content-start align-items-end">
    <button class="btn btn-info btn-lg">LARGE</button>
    <button class="btn btn-warning">SMALL</button>
    <button class="btn btn-primary">SMALL</button>
  </div>
</div>

<div class="container">
  <div class="border border-dark h d-flex flex-row-reverse justify-content-start align-items-end">
    <button class="btn btn-info btn-lg">LARGE</button>
    <button class="btn btn-warning">SMALL</button>
    <button class="btn btn-primary">SMALL</button>
  </div>
</div>

<div class="container">
  <div class="border border-dark h d-flex flex-column justify-content-center">
    <button class="btn btn-info btn-lg">LARGE</button>
    <button class="btn btn-warning">SMALL</button>
    <button class="btn btn-primary">SMALL</button>
  </div>
</div>

<div class="container">
  <div class="border border-dark h d-flex flex-column-reverse justify-content-center">
    <button class="btn btn-info btn-lg">LARGE</button>
    <button class="btn btn-warning">SMALL</button>
    <button class="btn btn-primary">SMALL</button>
  </div>
</div>

<div class="container">
  <p class="display-4 text-center">Example</p>

  <div class="border border-dark d-flex flex-column flex-md-row justify-content-between align-items-center">
    <button class="btn btn-primary">SMALL</button>
    <button class="btn btn-primary">SMALL</button>
    <button class="btn btn-primary">SMALL</button>
    <button class="btn btn-primary">SMALL</button>
    <button class="btn btn-primary d-md-none">SMALL</button>
    <button class="btn btn-primary">SMALL</button>
  </div>
</div>
