.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}
.my-container {
  border: 1px solid green;
}
.my-row {
  border: 1px solid red;
  height: 300px;
}

.my-col {
  border: 1px solid blue;
}

.h {
  height: 350px;
  margin: 30px;
}
