<div class="container">
  <h3>
    Client-side Search and Filtering
    <small>
      <a href="https://github.com/swimlane/ngx-datatable/blob/master/src/app/basic/filter.component.ts" target="_blank">
        Source
      </a>
    </small>
  </h3>
  <input
    type="text"
    style="padding: 8px; margin: 15px auto; width: 30%"
    placeholder="Type to filter the name column..."
    (keyup)="updateFilter($event.target.value)"
  />
  <ngx-datatable
    #table
    class="material"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [limit]="2"
    [rows]="rows"
  >
  </ngx-datatable>
</div>
